<h1>홈페이지</h1>
<p><%= image_tag("#{current_user.image}") %></p>
<p><%= current_user.user_name %></p>
<p><%= current_user.user_age %></p>
<p><%= current_user.user_gender %></p>
<p><%= current_user.user_state %></p>
<p><%= current_user.email %></p>
<p><a href="/logout" class="btn btn-default">로그아웃</a></p>
